// Colors
$color-blue: #4074ad;
$color-blue-2: #2c8bcf;
$color-grey: #9b9fa8;
$color-grey-2: #373739;
$color-grey-3: #0f0b0c;
$color-white: #fff;

// Fonts
$font-family-base: 'roboto', 'Open Sans', sans-serif;

$font-line-height-xxs: 15px;
$font-line-height-xs: 16px;
$font-line-height-sm: 18px;
$font-line-height-md: 20px;
$font-line-height-lg: 22px;
$font-line-height-xl: 26px;

$font-size-xxs: 13px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;

$font-weight-sl: 300;
$font-weight-rg: 400;
$font-weight-md: 500;

// Opacity
$opacity-semi-opaque: 0.8;
$opacity-intense: 0.6;
$opacity-medium: 0.4;
$opacity-light: 0.1;

// Structure
$pageWidth: 992px;

$layout-sm: 576px;
$layout-md: 768px;
$layout-lg: 992px;
$layout-xl: 1200px;
